table { overflow: auto;}

table th {
    font-weight:bolder;
    font-size: larger;
    color: blue;
}


/* table td, table th {
    width: 33%;
    text-align:center;
    vertical-align: middle !important;
    padding-left: 0px !important;
}

td:first-child {
    width:100% !important;
} */
  button:focus,
  button:active:focus,
  button.active:focus {
      outline:none i !important;
      outline-style: none !important;
  }
  .rating{
      color: orange  !important;
      font-size: 20px;
      font-weight: bold;
  }