<div class="d-flex justify-content-between">
    <h3>Add New Department</h3>
    <button mat-button (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>
</div>

 <div style="overflow: auto; height:450px;">
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">

        <div class="mt-4 input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Department ID</span>
            </div>
            <input required minlength="1" type="number"
            class="form-control" 
            name="DepartmentID"
            #DepartmentID="ngModel"
            [(ngModel)]="deptService.formData.DepartmentID">
         </div>
         <div class="text-left- text-danger"
         *ngIf="DepartmentID.invalid">
         Please Enter Department ID.
      </div>

       <div class="mt-4 input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Department Name</span>
          </div>
          <input required minlength="2" type="text"
          class="form-control" 
          name="DepartmentName"
          #DepartmentName="ngModel"
          [(ngModel)]="deptService.formData.DepartmentName">
       </div>
       <div class="text-left- text-danger"
       *ngIf="DepartmentName.invalid">
       Please Enter Department name.
    </div> 
    <button class="mt-4" mat-raised-button
color="primary" type="submit"
[disabled]="form.invalid" style="margin-bottom: 10px;">ADD Department</button>
    </form>
</div>
